*.wdf
*.wpc
*.lpr
*.xml
*.mem
*.txt
*.rst
*.pb
*.js
*.sh
*.rpt
*.rpx
*.bat
*.dcp
*.log
*.prj
*.wdb
*.tcl
*.vdi
*.jou
*.vds
*.vcd
*.ini
*.sdb
*.xdbg
*.rtti
*.dbg
*.info
*.wdm
*.svtype
*.c
*.type
*.exe
*.rlx
*.obj
*.reloc
*.wcfg
*.xpr
mips_processor.sim/sim_1/behav/xsim
*.html
mips_processor/mips_processor.sim/sim_1/behav/xsim/glbl.v
