
Matthew_Thiess_ECE4612_FInal_Project/Matthew_Thiess_ECE4612_FInal_Project.cache/wt/gui_handlers.wdf
*.wdf
*.wpc
*.lpr
*.xml
*.mem
*.txt
*.rst
*.pb
*.js
*.sh
*.rpt
*.rpx
*.bat
*.dcp
*.log
*.prj
*.wdb
*.tcl
*.vdi
*.jou
Matthew_Thiess_ECE4612_FInal_Project/Matthew_Thiess_ECE4612_FInal_Project.runs/synth_1/__synthesis_is_complete__
*.vds
*.vcd
*.ini
*.sdb
*.xdbg
*.rtti
*.dbg
*.info
*.wdm
*.svtype
*.c
*.type
*.exe
*.rlx
*.obj
*.reloc
Matthew_Thiess_ECE4612_FInal_Project/Matthew_Thiess_ECE4612_FInal_Project.sim/sim_1/behav/xsim/glbl.v
Matthew_Thiess_ECE4612_FInal_Project/Matthew_Thiess_ECE4612_FInal_Project.xpr
Matthew_Thiess_ECE4612_FInal_Project/MIPS-Single-Cycle-Processor/
